[submodule "solver/hgs"]
	path = solver/hgs
	url = https://github.com/cvrp-challenge/solver-hgs.git
[submodule "solver/filo1"]
	path = solver/filo1
	url = https://github.com/cvrp-challenge/solver-filo1.git
[submodule "solver/filo2"]
	path = solver/filo2
	url = https://github.com/cvrp-challenge/solver-filo2.git
[submodule "solver/pyvrp"]
	path = solver/pyvrp
	url = https://github.com/cvrp-challenge/solver-pyvrp.git
[submodule "solver/cobra"]
	path = solver/cobra
	url = https://github.com/acco93/cobra.git
[submodule "solver/ails2"]
	path = solver/ails2
	url = git@github.com:cvrp-challenge/AILS2.git
